name : vehicle-server
on : 
  - push
  - pull_request
 
jobs:
    init_projet:
        runs-on: ubuntu-22.04
        steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-node@v4
            with:
              node-version: 20.17
          - run: npm ci
          - run: npm run build
          - run: npm run lint
          - run: npm run test
          
        